@font-face {
	font-family: "Gilroy Light";
	src: url(/rsschool-cv/fonts/Gilroy-Light.otf);
	font-weight: 300;
}
@font-face {
	font-family: "Gilroy ExtraBold";
	src: url(/rsschool-cv/fonts/Gilroy-ExtraBold.otf);
	font-weight: 800;
}
