/* Header */
.header {
	border-bottom: 1px solid var(--gray-color);
}
.header-container {
	padding: 45px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-list {
	display: flex;
	column-gap: 50px;
}
.nav-item:hover {
	color: var(--main-color);
	transition: all 0.4s;
}
