/* Portfolio */
.portfolio-container {
	display: flex;
	flex-direction: column;
}
.portfolio-title {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 321px;
	background: url(../img/potfolio-bg.png) no-repeat;
}
.portfolio-title h4 {
	color: var(--black-color);
}

/* Slider */
.portfolio-slider {
	overflow: hidden;
}
.slider {
	display: flex;
	position: relative;
	max-width: 1920px;
	height: 400px;
	left: 0;
	transition: all ease 1s;
}

.slider-btn-container {
	background: var(--slider-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 112px;
}
.slider-btn {
	padding: 15px 80px;
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	border: none;
	background: var(--slider-color);
	border-bottom: 1px solid #aaaaaa;
	color: #7c7c7c;
	cursor: pointer;
}
.slider-btn-active {
	color: #fff;
	border-bottom: 1px solid #fff;
}

.slider-item {
	width: 640px;
	height: 400px;
	background: url(../img/slide-pic.png);
}
.slider-images-project,
.slider-images-education,
.slider-video {
	position: relative;
	column-count: 3;
	column-gap: 0;
}

.slider-picture:hover {
	opacity: 0.6;
}

.clock-project {
	background: url(../img/clock.png) no-repeat;
	background-size: 640px 400px;
}
.slider-project {
	background: url(../img/slider.png);
	background-size: 640px 400px;
}
.filter-project {
	background: url(../img/filter.png);
	background-size: 640px 400px;
}
.filter-project a,
.slider-project a,
.clock-project a {
	text-shadow: 3px 5px 6px var(--black-color);
}

.education-bntu {
	background: url(../img/bntu.png);
}
.education-rs {
	background: url(../img/rsschool.png);
}
.education-clear {
	background: var(--slider-color);
}

.project-info,
.education-info {
	width: 640px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.project-info:hover,
.education-info:hover {
	transition: all 0.4s ease-out;
	background: rgba(0, 0, 0, 0.5);
}

.clear {
	background: var(--slider-color);
	width: 640px;
	height: 400px;
}

.slider-footer {
	height: 70px;
	width: 100%;
	background: var(--slider-color);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white-color);
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}
.slider-link {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-size: 34px;
	line-height: 24px;
}
