@import url(fonts.css);
@import url(reset.css);
@import url(header.css);

.container {
	margin: 0 auto;
	max-width: 1340px;
	padding: 0 10px;
}

:root {
	--bg-color: #c4c4c4;
	--active-color: #e86526;
	--gray-color: #919191;
	--white-color: #ffffff;
	--black-color: #000000;
}

html {
	scroll-behavior: smooth;
}
body {
	background: url(../img/bg-image.png) no-repeat;
	background-position: right 0px;
	background-color: var(--bg-color);
}
h1 {
	font-size: 63px;
	line-height: 74px;
}
h2 {
	font-size: 40px;
	line-height: 47px;
}
h3 {
	font-weight: 800;
	font-size: 25px;
	line-height: 29px;
	color: var(--gray-color);
}
h4 {
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.18em;
	color: var(--white-color);
	font-family: "Montserrat";
	font-weight: bold;
}
h5 {
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 30px;
	line-height: 38px;
	letter-spacing: 0.35em;
}
h6 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 0.18em;
}
.section-title-container {
	margin: 142px 0 71px 0;
	padding: 16px 75px;
	max-width: 404px;
	height: 107px;
	border: 8px solid #000000;
	display: flex;
	justify-content: center;
	align-items: center;
}
p {
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 138%;
}

/* Hero */
.hero {
	font-family: "Raleway";
	font-style: normal;
	font-weight: bold;
}
.hero-container {
	padding: 190px 0 0 0;
}
.hero-high-text {
	margin: 0 0 66px 0;
}
.hero-low-text {
	margin: 10px 0 0 0;
}
.hero-links {
	margin: 126px 0 0 0;
}
.hero-links-menu {
	display: flex;
	column-gap: 31px;
}
.hero-links-item {
	background: var(--bg-color);
	padding: 10px 12px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-links-item:hover {
	transform: scale(1.1);
	transition: all 0.4s;
}

/* Summary */
.summary {
	margin: 240px 0 0 0;
	background: linear-gradient(90.18deg, #1d1d1d 31.74%, #1d1d1d 90.49%, #1d1d1d 90.49%);
	padding: 54px 670px 50px 102px;
}
.summary-container {
	margin: 0 auto;
	max-width: 1700px;
	padding: 0 8px;
	display: flex;
	flex-direction: column;
}
.summary-container p {
	margin: 26px 0;
	color: var(--white-color);
}
.micro-title {
	height: 32px;
	max-width: 140px;
	border-left: 2px solid var(--white-color);
	border-right: 2px solid var(--white-color);
	display: flex;
	justify-content: center;
	align-items: center;
}
.fast-connect,
.micro-explore {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
}
.micro-title:hover {
	box-shadow: 1px 1px var(--active-color), 2px 2px var(--active-color), 3px 3px var(--active-color),
		4px 4px var(--active-color), 5px 5px var(--active-color), 6px 6px var(--active-color), 7px 7px var(--active-color);
	-webkit-transform: translateX(-7px);
	transform: translateX(-7px);
}

/* About */
.about-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.decor-icon {
	max-width: 170px;
	height: 12px;
	margin: 85px 0 108px 0;
}
.about-text {
	margin: 0 0 67px 0;
	max-width: 760px;
	text-align: center;
}
.micro-explore {
	color: var(--black-color);
	margin: 0 40px;
}
.micro-explore-container {
	border-left: 2px solid var(--black-color);
	border-right: 2px solid var(--black-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	max-width: 140px;
}
.explore-container {
	display: flex;
	justify-content: space-between;
}
.explore-item {
	display: flex;
	flex-direction: column;
	max-width: 516px;
	height: 177px;
	padding: 20px 0 60px 40px;
	margin: 0 0 80px 0;
}
.explore-item p {
	text-align: left;
}
.development-container {
	background: url(../img/development-icon.png) no-repeat;
	background-position: left;
}
.maintenance-container {
	background: url(../img/maintenance-icon.png) no-repeat;
	background-position: left;
}

/* Skills */
.skills {
	margin: 0 0 162px 0;
}
.skills-title {
	margin: 0;
}
.skills-container {
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.skills-item h4 {
	color: var(--black-color);
	margin: 80px 0 75px 0;
}
.skills-menu {
	display: flex;
	justify-content: space-between;
	column-gap: 170px;
}
.skill {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 17px;
}
.skill span {
	font-family: "Montserrat";
	font-weight: normal;
	font-size: 24px;
	line-height: 20px;
}
