@import url(fonts.css);
@import url(reset.css);
@import url(header.css);
@import url(footer.css);

:root {
	--light-color: #ffffff;
	--dark-color: #000000;
	--active-color: #7ddea7;
	--text-color: #333333;
	--skills-color: #888888;
	--ilt-color: #ccc;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", "sans-serif";
	font-size: 1.6rem;
	font-weight: 400;
	background-color: var(--light-color);
	color: var(--dark-color);
	position: relative;
	z-index: 0;
}

h1,
h2,
h3,
h4 {
	font-weight: 500;
}

.container {
	max-width: 114rem;
	margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
	.container {
		padding: 0 3rem;
	}
}


/* About */
.section {
	padding: 5rem 0 7rem 0;
	overflow-x: hidden;
}
.about {
	margin-top: 5rem;
}

.title {
	margin: 4rem 0 7rem 0;
	text-align: center;
}

.title h2 {
	font-size: 3rem;
	display: inline-block;
	position: relative;
	z-index: 0;
}
.title h2::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -20%;
	transform: translate(-50%, -50%);
	background-color: var(--active-color);
	width: 50%;
	height: 0.4rem;
	z-index: 1;
}

.about-center {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	gap: 3rem 5rem;
}

.left img{
	max-width: 38rem;
	height: 40rem;
}

.right h2 {
	margin-bottom: 2rem;
}

.right p {
	line-height: 2;
	margin-bottom: 2rem;
	color: var(--text-color);
}
.right h2 span {
	color: var(--active-color);
}

a.btn{
	display: inline-block;
	padding: 1rem 2rem;
	background-color: var(--active-color);
	color: var(--light-color);
	border-radius: .5rem;
	border: 2px solid var(--active-color);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	transition: all 300ms ease-out;
}

a.btn:hover {
	transform: translateY(-3px);
}
a.btn:active{
	transform: translateY(0);
} 

@media only screen and (max-width: 996px){
	.right h2 {
		font-size: 2rem;
	}
	.right p {
		font-size: 1.5rem;
	}
	a.btn{
		padding: .7rem 1.8rem;
	}
	.left img{
		height: 35rem;
		max-width: 35rem;
	}
}
@media only screen and (max-width: 768px){
	.about-center {
		grid-template-columns: 1fr;
		gap: 3rem 0;
	}
	.left{
		display: flex;
		justify-content: center;
	}
	.left img{
		height: 38rem;
		max-width: 90%;
	}
}
@media only screen and (max-width: 567px) {
	.left img{
		height: 30rem;
	}
}

/* Services */

.theme {
	background-color: var(--dark-color);
}
.theme .title {
	color: var(--light-color);
}

.services-center{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 3rem;
}
.service {
	color: var(--light-color);
	background-color: #111;
	border-radius: 1rem;
	transition: all 300ms ease-in-out;
	padding: 2rem;
	text-align: center;
}

.service span {
	color: var(--active-color);
	font-size: 4rem;
	transition: all 300ms ease-in-out;
}

.service h2 {
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

.service p {
	font-size: 1.4rem;
	color: var(--light-color);
}

.service:hover{
	background-color: var(--active-color);
}
.service:hover span {
	color: var(--light-color);
}


/* Skills */
.skills-box:not(:last-child) {
	margin-bottom: 2rem;
}
.skills-box h4 {
	font-size: 1.8rem;
	color: var(--skills-color);
	font-weight: 500;
}

.skills-box .skills-ilt{
	width: 100%;
	position: relative;
	height: 0.4rem;
	background-color: var(--ilt-color);
	border-radius: .5rem;
}

.skills-box .skills-bar {
	background-color: var(--active-color);
	height: 0.4rem;
}

.skills-box .html{
	width: 90%;
}
.skills-box .css{
	width: 75%;
}
.skills-box .javascript{
	width: 45%;
}
.skills-box .photoshop{
	width: 75%;
}
.skills-box .english{
	width: 35%;
}

.skills-box span {
	position: absolute;
	bottom: 10%;
	right: 0;
	font-size: 1.4rem;
}

.skills-center{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 6rem;
}

.right h3 {
	margin-bottom: 1rem;
}

.right p{
	margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
	.skills-center {
		grid-template-columns: 1fr;
	}
}